body {
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
h4 {
    /* font-weight: bold; */
    color: #000000;
}

body{
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 20px;
}

.offer__title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 132px;
}

.offer__btn {
    margin-top: 32px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: 0;
    background: #592D87;
    width: 154px;
    height: 38px;
    color: white;
    font-family: Roboto;
    font-size: 13px;
}

.offer__btn:focus {
    outline: none;
}

.offer__truck-container {
    padding-top: 30px;
}

.offer__intro {
    margin-top: 50px;
    font-weight: bold
}

.offer__text {
    width: 462px;
}

.offer__itro-text-container {
    display: flex;
    flex-direction: column
}

.offer__descr {
    width: 611px;
    /* text-align: center */
    padding-top: 38px;
}

.offer__line-top {
    height: 50px;
    margin-top: 30px;
    padding-right: 92px;

}

.offer__line-bot {
    height: 50px;
    margin-top: 130px;
    padding-left: 92px;

}

.wrapper {
    /* display: flex; */
}

.circle {
    padding-top: 17%;
}

.business__partner {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.profit__item {
    display: flex;
    justify-content: center;
    padding-bottom: 17px;
    justify-content: flex-start;
}

.profit {
    padding-top: 17px;
}

.profit__ico {
    margin-right: 20px;
}

.profit__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: black
}


.differences__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

/* .vertical-big{
    height: 30%;
} */

.taobao-container {
    padding-bottom: 39px;
    padding-top: 89px;
}

.taobao__logo {
    padding-bottom: 11px;
}

.delivery__title {
    color: white;
    margin-top: 52px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

}

.delivery {
    background: #330570;
}

.delivery__text {
    color: white;
    font-size: 18px;
}

.delivery__item {
    padding-top: 30px;
    padding-bottom: 52px;
}

.partner {
    padding-top: 61px;
}

.partner__title {
    color: #3C2467;
    font-style: normal;
    font-size: 36px;
}

.partner__text {
    /* margin: 0 auto; */
    width: 522px;
    padding-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    color: #3C2467;

}

.partner__block {
    padding-top: 30px;
}

.partner__card-icon {
    margin-left: 20%;
    text-align: center;
    padding-bottom: 3%;
}

.partner__card-text {
    color: #3C2467;
}

.logistic {
    padding-top: 2 0px;

}

.logistic__title {
    color: #3C2467;
    font-weight: bold;
    font-size: 18px;
}

.logistic {
    display: flex;
    flex-direction: column;
    align-items: center
}

.logistic__text p {
    color: #3C2467;
    font-size: 14px;
    font-weight: normal;
    align-items: center;

}

.logistic__gantelya {
    padding-right: 22px;
    /* max-width: 40%; */
    height: auto;
    display: flex;
    flex-direction: row
}



.partner__logo-mobile {}

.mob {
    display: flex;
    justify-content: center
}

.partners__carousele {
    padding-top: 25px;
}

.partners__carousele-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #3C2467;
}


th{
    padding-right: 0;
}

.partner__logo-mobile{
    /* margin-left: 5px; */
}

footer {
    background-color: #330570;
}

.footer__text {
    font-size: 15px;
    line-height: 18px;
    padding-top: 30px;
    color: #FFFFFF;
}

.footer__logo {
    padding-top: 20px;
}



.footer__wrapper {}

#button-up {
    display: none;
    opacity: 0.5;
    /* filter:alpha(opacity=50); */
    position: fixed;
    right: 30px;
    bottom: 50px;
    color: #000;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;


}

#button-up:hover {
    cursor: pointer;
    /* opacity: 1; */
    filter: alpha(opacity=100);
    transition: .3s;
    color: #330570;
}

.top {
    height: 60px;
}


.partner__container {
    /* height: 100px; */
    width: 500px;


}

.partner__logo {
    height: 173px
}

.footer__contact {
    color: white;
    display: flex;

}

.footer__phone {
    padding-right: 10px;
}


.modal-body {
    display: flex;
    flex-direction: column;
    /* border-radius: 5px; */
}

.modal__window {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    /* margin-right: 10px; */
    text-indent: 10px;

}

.modal__form{
    display: flex;
    flex-direction: column
}

.modal__btn {
    margin-bottom: 22px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #592D87;
    width: 154px;
    height: 38px;
    color: white;
    font-family: Roboto;
    font-size: 13px;

}

.modal__btn:focus {
    outline: none;
}

.modal__btn-wrapper {
    display: flex;
    justify-content: center
}

.modal-title {
    font-weight: bold
}

.modal__window {
    outline: none;
}

input::placeholder {
    color: #444444;
    font-size: 12px;
    font-size: 1.2em;
    outline: none;
    /* font-style: italic; */
}







.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;

    color: #555555;
    display: block;
    transition: 0.3s;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.sidebar a:hover {
    color: #330570
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 10px; */
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #330570;
    border: none;
}

.openbtn:hover {
   opacity: 0.5;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media (min-width: 310px) and (max-width: 372.98px){


    .delivery__item img{

        height: 70px
    }
     
    .delivery__item p{

        font-size: 12px
    }

    .delivery__item {
     padding-bottom: 5px;
    }

    .delivery__title{
        font-size: 20px;
    }
   
    .logistic{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .partners__carousele{
        padding-bottom: 20px;
    }

    .profit__item{
        align-items: flex-start
     
    }

    .profit__text{
        /* padding-right: 20px; */
        margin: 0;
    }

    .proft{
        display: flex;
        justify-content: flex-start
    }
    .profit__ico{
        /* margin: 0; */
    }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    #main {
        /* display: none */
    }

    .logistic{
        padding-top: 10px;
        padding-bottom: 10px;
    }
   

   
}




@media (max-width: 575.98px) {
    #offer__truck {
        display: none;

    }

    .offer__truck-container {
        display: none
    }

    .offer__title {
        font-size: 30px
    }

    .decor-block {
        display: none
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .offer__btn {
        justify-content: center;
        align-items: center;
        margin-left: 40%;
    }

    .offer__title {
        margin-top: 30px;
    }

    .profit_wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .profit__item {
        /* justify-content: center */
    }

    .taobao__line-left {
        display: none
    }

    #taobao__line-right {
        display: none
    }

    .delivery__item {
        margin-right: 15%;
        /* padding-bottom: 10px; */

    }

    .delivery__title {
        color: white;
        margin-top: 10px;
        font-weight: bold;
        font-size: 26px;
        line-height: 49px;

    }

    .delivery__text {
        font-size: 15px
    }

    .partner__title {
        font-size: 30px
    }

    .taobao-container {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .partner__block-container {
        display: flex;
        /* justify-content: center */
        /* width: 100%; */
    }

    .partner__block {
        display: flex;
        justify-content: center;
        /* background: #000; */

    }

    .partner__card-text {
        display: flex;
        justify-content: center;
        width: 60%;
        margin-left: 20%;
    }

    .partner__card-icon {
        margin-left: 30%;

    }

    .logistic__gantelya {
        display: none
    }


    .logistic__text {
        justify-content: center;

    }

    .partner__container {
        display: none
    }

    .offer__text {
        width: 250px;
    }

    .offer__descr {
        width: 90%;
        /* text-align: center */
        padding-top: 38px;
    }

    .offer__line-bot {
        display: none
    }

    .offer__line-top {
        display: none
    }

    #main {
        /* display: none; */
    }

    .sidebar {
        height: 180px;
        opacity: 0.9;
        width: 180px;

    }

    .sidebar a {
        padding-left: 5px;
        padding-top: 1px;
    }

 
    .mob img{
        width: 150px
    }

    td img{
    
    }

    th p{
  
       font-size: 15px; 
       width: 48px;
       margin-right: 48px;
       
    }

    .table__diff{
  
    }

    .vetrtical-big{
        display: none
    }
}





@media (min-width: 576px) and (max-width: 767.98px) {
    #offer__truck {
        display: none;

    }

    .offer__truck-container {
        display: none
    }

    .offer__title {
        font-size: 40px
    }

    .decor-block {
        display: none
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .offer__btn {
        justify-content: center;
        align-items: center;
        margin-left: 40%;
    }

    .offer__title {
        margin-top: 30px;
    }

    .profit_wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .profit__item {
        justify-content: center
    }

    .taobao__line-left {
        display: none
    }

    #taobao__line-right {
        display: none
    }

    .delivery__item {
        margin-left: 10px;
        padding-bottom: 10px;

    }

    .delivery__title {
        color: white;
        margin-top: 10px;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;

    }

    .taobao-container {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .partner__block-container {
        display: flex;
        /* justify-content: center */
        /* width: 100%; */
    }

    .partner__block {
        display: flex;
        justify-content: center;
        /* background: #000; */

    }

    .partner__card-text {
        display: flex;
        justify-content: center;
        width: 60%;
        margin-left: 20%;
    }

    .partner__card-icon {
        margin-left: 30%;

    }

    .logistic__gantelya {
        display: none
    }

    .partner__container {
        display: none
    }

    .logistic__text {
        justify-content: center;

    }

    #main {
        display: none;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    #offer__truck {
        display: none;

    }

    .offer__truck-container {
        display: none
    }

    .offer__title {
        font-size: 40px
    }

    .decor-block {
        display: none
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .offer__btn {
        justify-content: center;
        align-items: center;
        margin-left: 40%;
    }

    .offer__title {
        margin-top: 30px;
    }

    .profit_wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .profit__item {
        justify-content: center
    }

    .taobao__line-left {
        display: none
    }

    #taobao__line-right {
        display: none
    }

    .delivery__item {
        margin-left: 10px;
        padding-bottom: 10px;

    }

    .delivery__title {
        color: white;
        margin-top: 10px;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;

    }

    .taobao-container {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .partner__block-container {
        display: flex;

    }

    .partner__block {
        display: flex;
        justify-content: center;


    }

    .partner__card-text {
        display: flex;
        justify-content: center;
        width: 60%;
        margin-left: 20%;
    }

    .partner__card-icon {
        margin-left: 30%;

    }

    .logistic__gantelya {
        display: none
    }


    .logistic__text {
        justify-content: center;

    }

    .mobile {
        display: none
    }

    #main {
        /* display: none; */
    }

    .sidebar {
        height: 230px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #FAFAFA;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    }


}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .offer__min-truck {
        display: none;
    }

    .mobile {
        display: none
    }

    .sidebar {
        height: 230px;
        opacity: 0.9;
        width: 200px;

    }

}

@media (min-width: 1200px) {
    .offer__min-truck {
        display: none;
    }

    .mobile {
        display: none
    }

}